@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/*----------
 * Bridgehead.
 */
[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

/*----------
 * Letters.
 */
[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
	margin-bottom: .25em;
	text-indent: 0;
}

[epub|type~="z3998:letter"] footer{
	margin-right: 1.5em;
	margin-top: .25em;
	page-break-inside: avoid;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

/*----------
 * Quoted blocks.
 */
.quotedblock{
	padding-left: .5em;
	position: relative;
}

.quotedblock > p:first-child:before{
	content: '“';
	position: absolute;
	left: 0;
}

/*----------
 * Songs.
 */
[epub|type~="z3998:song"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

/*----------
 * Subtitles.
 */
span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

/*----------
 * Tables.
 */
table{
	border-collapse: separate;
	border-spacing: 0 .25em;
}

table td{
	vertical-align: top;
}

/*----------
 * Chapter-Specific
 */
/* Prologue: Signature line. */
#prologue > footer{
	margin-right: 1.5em;
	margin-top: 1em;
	text-align: right;
}

/* Chapter 5: Interview transcription. */
#chapter-5 table tr td:first-child{
	font-weight: bold;
}

/* Chapter 7: Newspaper headline. */
#chapter-7 > blockquote:last-of-type{
	text-indent: 0;
	text-align: center;
	font-variant: small-caps;
}
